*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-black: #1b1b1c;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-black);
    height: 100vh;
}